.main__about{
    margin: auto;
    padding: 0 24px;
    background-image: url(../img/about/about-background.jpeg);
    background-size: cover;
}

.main-about__container{
    max-width: 1200px;
    display: grid;
}

.about-info__container{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin-top: 50px;
}

.about-image__container{
    text-align: center;
    padding: 0 15px 0 15px;
}

.about-image{
    width: 100%;
}

.about__heading{
    font-size: 14px;
    text-transform: uppercase;
}

.about__subheading{
    font-size: 38px;
    margin-top: 10px;
}

.about-header__description{
    color: rgb(65, 57, 57);
    font-size: 18px;
    line-height: 28.8px;
}

.about__line{
    padding: 15px 0 15px 0;
}

.about__line .line{
    height: 4px;
    width: 12%;
    background-color: rgb(235, 109, 47);
}

.about__items{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.about__item{
    display: flex;
    padding: 7.5px 0 7.5px 0;
}

.about__icon{
    display: flex;
    justify-items: flex-start;
    width: 70px;
    margin: 7.5px;
}

.about__icon img{
    width: 70px;
}

.about__description{
    margin: 7.5px;
}

.about__description h4{
    color: var(--h3-text-color);
    font-size: 22px;
    font-family: "Signika Negative", sans-serif;
    line-height: 30.8px;
}

.about__description p{
    color: rgb(65, 57, 57);
    font-size: 16px;
    line-height: 27.2px;
}

@media (min-width: 720px){
    .main-about__container{
        grid-template-columns: 1fr 1fr;
    }
}