.cart__button {
    background-color: #ffffff;
    position: fixed;
    top: 80px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 1px rgb(33 39 54 / 4%), 0 2px 4px rgb(33 39 54 / 16%);
}

.cart-button-icon__img {
    position: inherit;
    height: 70px;
    width: 70px;
    margin: auto;
    padding: 15px;
    border: 4px;
}

.cart-button-counter__placeholder {
    background-color: var(--store-yellow-text);
    top: -2px;
    right: -2px;
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.popup__header {
    padding: 16px;
    background-color: lightgray;
}

.modal-form__container {
    background-color: #ffffff;
    position: relative;

}

.close-btn{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #1B1D1F;
    background: none;
    cursor: pointer;
    border: 0;
}