@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@400;700&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #413939;
    --h2-text-color: #eb6d2f;
    --h3-text-color: #5a3733;
    --h1-text-color: #5a3733;
    --background-color: #f9f4f0;
    --contacts-button-hover-background: #f7bc02;
    --contacts-form-background: #fff;
    --box-shadow-color: #000;
    --link-color: #ffd832;
    --light-card-background-color: #fff;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    --line-number-color:rgb(102, 59, 54);
    --numbers-background-color:#f4ebe4;
    --blog-font:"Signika Negative", sans-serif;
    --store-grey-text:#939393; 
    --store-yellow-text:#f7bd00;
    --store-white-text:#fff;
    --cards-shadow: rgba(149, 157, 165, 0.2) 0px 3px 10px;
    --slider-dot-color: #d1c6c2;
    --slider-active-dot-color: #816662;
}

.page-heading{
    color: var(--h1-text-color);
    font-size: 110px;
    font-family: "Signika Negative", sans-serif;
}

.section-heading {
    color: var(--h2-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.section-subheading {
    color: var(--h3-text-color);
    font-size: 38px;
    line-height: 47.5px;
    font-weight: 700;
    font-family: "Signika Negative", sans-serif;
    margin-top: 10px;
}

.section-description{
    color: var(--text-color);
    font-size: 18px;
    line-height: 28.8px;
}

.line__block{
    padding: 15px 0;
}

.line{
    background-color: var(--h2-text-color);
    height: 4px;
    width: 12%;
}

@media (min-width: 320px){
    .page-heading{
        font-size: 62px;
    }
    
    .section-subheading {
        font-size: 38px;
        line-height: 47.5px;
    }
}

@media (min-width: 768px){
    .page-heading{
        font-size: 86px;
    }
    
    .section-heading {
        font-size: 14px;
    }
    
    .section-subheading {
        font-size: 44px;
        line-height: 55px;
    }
    
    .section-description{
        font-size: 18px;
        line-height: 28.8px;
    }
}

@media (min-width: 922px){
    .page-heading{
        font-size: 110px;
    }
    
    .section-heading {
        font-size: 14px;
    }
    
    .section-subheading {
        font-size: 50px;
        line-height: 62.5px;
    }
    
    .section-description{
        font-size: 18px;
        line-height: 28.8px;
    
    }
}