@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@400;700&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(65,57,57);
    --h2-text-color: #eb6d2f;
    --h3-text-color: #5a3733;
    scroll-behavior: smooth;
    font-family: Open Sans,sans-serif;
}

h2 {
    color: var(--h2-text-color);
}

h3 {
    color: var(--h3-text-color);
    font-family: "Signika Negative", sans-serif;
}