.gallery__section{
    margin: auto;
    background-color: #f9f4f0;
    padding: 60px 24px 60px 24px;
    text-align: center;
}

.gallery-wrapper{
    display: grid;
    gap: 10px;
}

.image__container img{
    border-radius: 15px;
    max-width: 300px;
}

@media (min-width:320px) {
    .gallery-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (min-width:768px) {
    .gallery-wrapper{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
    }
}

@media (min-width:992px) {
    .gallery-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

