header {
background-color: var(--background-color);
}

.header-containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 30px 15px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo__container {
    position: relative;
    z-index: 10;
}

.text__links {
    display: none;
}

.burger-container {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
}

.burger__links {
    display: none;
}

.burger__links.burger-active {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--background-color);
}

.burger-text-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px;
    font-weight: 600;
}

.burger-text-link:hover {
color: var(--h2-text-color);   
}

.burger-bunner__button {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--h2-text-color);
    text-decoration: none;
    color: #5a3733;
    font-weight: 700;
}

.burger-bunner__button:hover {
    background-color: var(--h2-text-color);
    color: var(--light-card-background-color)
}

.burger-container span,
.burger-container::before,
.burger-container::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text-color);
    transition: all 0.3s;
}

.burger-container::before {
    content: " ";
    top: 0;
}

.burger-container::after {
    content: " ";
    bottom: 0;
}

.burger-container.burger-active span {
    transform: scale(0);
}

.burger-container.burger-active::before {
    top: 12px;
    transform: rotate(45deg);
}

.burger-container.burger-active::after {
    top: 12px;
    transform: rotate(-45deg);
}
@media (min-width: 922px) {
    
    .burger-container{
        display: none;
    }

    .text__links {
        display: block;
    }

    .text-link {
        text-decoration: none;
        color: var(--text-color);
        padding: 15px;
        font-weight: 600;
    }

   .text-link:hover {
        border-bottom: 3px solid var(--contacts-button-hover-background);
        color: var(--h2-text-color);   
    }

    .bunner__button {
        padding: 10px;
        border-radius: 8px;
        border: 2px solid var(--h2-text-color);
        text-decoration: none;
        color: #5a3733;
        font-weight: 700;
    }

    .bunner__button:hover {
        background-color: var(--h2-text-color);
        color: var(--light-card-background-color)
    }
    
    .burger__links.burger-active {
        display: none;
    }
}
