.container__nav {
width: 100%;
box-sizing: border-box;
border-bottom-style: none;
border-left-style: none;
border-right-style: none;
border-top-style: none ;
font-stretch: 100%;
background-color: inherit;
}

.logo__container  {
box-sizing: border-box;
}

.header__logo {
display: block;
position: relative;
}

.links_container {
display: block;
flex-direction: row-reverse
}
 
.text-link {
color: #5a3733;
font-variant: ;
}

.Bunner__button button {


}