.container__nav {
width: 100%;
box-sizing: border-box;
background-color: bisque;
font-stretch: 100%;
background-color: inherit;
}

.logo__container  {
box-sizing: border-box;
}

.header__logo {
display: block;
position: relative;
}

.links_container {
display: block;
flex-direction: row-reverse
}
 
.text-link {
color: #5a3733;
}

.text-link:hover {
color: rgb(red, green, blue);
}

.Bunner__button button:hover {
color: white;
}
