.numbers__conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 55px 0;
    background-color:var(--numbers-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    flex: 1;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
}
.numbers{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 15px 15px 15px;
}
.number{
    color: var(--h2-text-color)!important;
    font-size: 40px;
    font-weight: bold;
}
.line__number{
    height: 4px;
    width: 20%;
    background-color: var(--line-number-color);
}
.text__number{
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    color: var(--h3-text-color);
    font-size: inherit;
}


    .numbers__conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0 55px 0;
    }
    .numbers{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px 15px 15px;
    }
@media (min-width: 920px){
    .numbers__conteiner{
        background-color:var(--numbers-background-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        flex: 1;
        padding: 50px 0 55px 0;
        justify-content: space-around;
        box-sizing: border-box;
        font-family: var( --blog-font);
    }
    .numbers{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px 0 15px;
    }
    .number{
        color: var(--h2-text-color)!important;
        font-size: 40px;
        font-weight: bold;
    }
    .line__number{
        height: 4px;
        width: 20%;
        background-color: var(--line-number-color);
    }
    .text__number{
        font-weight: bold;
        font-family: var( --blog-font);
        color: var(--h3-text-color);
        font-size: inherit;
    }
}