.product__page {
    background-image: url(../img/services/background-for-main-services.jpg);
    background-size: cover;
    background-color: var(--background-color);
    padding: 40px 24px 55px;
    margin: auto;
}

.to_home_page {
    text-decoration: none;
    color: var(--link-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .03em;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}