.main__services {
    background-image: url(../img/services/background-for-main-services.jpg);
    background-color: var(--background-color);
    background-size: cover;
    padding: 40px 24px 55px;
    margin: auto;
}

.services__header {
    text-align: center;
    margin: auto;
    max-width: 770px;    
}

.services-line {
    background-color: var(--h2-text-color);
    margin: auto;
}

.services-description {
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
    text-align: center;
}

.services__carousel-inner-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.services__carousel-card-container {
    padding: 15px;
}

.services__carousel-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 385px;
    background-color: var(--light-card-background-color);
    border-radius: 10px;
    box-shadow: var(--cards-shadow);
    padding: 10% 7%;
}

.services__carousel-img {
    height: 70px;
    width: 70px;
}

.services__carousel-card h4 {
    color: var(--h3-text-color);
    font-size: 22px;
    font-family: "Signika Negative", sans-serif;
    line-height: 160%;
}

.services__carousel-card p {
    color: var(--text-color);
    line-height: 160%;
}

.services__carousel-cards-link {
    text-decoration: none;
    color: var(--link-color);
    font-size: 13.5px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .03em;
    cursor: pointer;
}

.services__carousel-cards-link:hover {
    text-decoration: underline;
    color: var(--link-color);
}

/* Slick-slider dots personalised */

.services-responsive .slick-dots {
    bottom: -35px;     
}

.services-responsive .slick-dots li button:before { 
    display: none;
}

.services-responsive .slick-dots button {
    width: 10px;
    height: 10px;
    background-color: var(--slider-dot-color);
    border-radius: 50%;
}
 
.services-responsive .slick-dots li.slick-active button {
    background-color: var(--slider-active-dot-color);
}

@media (min-width: 768px) {
    .services-subheading {
        margin-top: 30px;
    }
}

@media (min-width: 780px) {
    .services__carousel-img {
        height: 100px;
        width: 100px;
    }
}
