.steps__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f7bd00
}

.steps__img {
    height: 100%;
    width: auto;
    max-width: 100%;
    
}

.main__steps {
    margin: auto;
    background-image: url("../img/store/background-bees.jpg");
    object-fit: contain;
    }
    
.steps__heading {
    color: var(--h2-text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}
.steps__hunny-line {
    background-image: url(../img/steps/line_honey.webp);
    background-color: #f9f4f0;;
    background-size: cover;
    min-height: 300px
}
.steps-subheading {
    color: var(--h3-text-color);
    font-family: "Signika Negative", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}

.steps__line {
    height: 4px;
    width: 70px;
    background-color: #eb6d2f;
    margin: 20px;
}

.steps__decription {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    margin:auto;
    padding: 15px;
    max-width: 800px;
    text-align: center;
}

.steps__decription-card{
    color: var(--h3-text-color);
    font-size: 30px;
    line-height: 47.5px;
    font-weight: 700;
    font-family: "Signika Negative", sans-serif;
    margin-top: 10px;
}

.cards__section{
    margin: auto;
    padding: 60px 24px 60px 24px;
    text-align: center;
}

.cards__wrapper{
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    flex-basis: 200px;
    flex-grow: 1;
}

.cards__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-steps {
    color: white;
    background-color: var(--h2-text-color);
    padding: 10px 25px;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.button-steps:hover{
    background-color:  #5a3733;
    color: white;
}

@media (min-width:320px) {
    .steps-subheading {
      margin-left: auto;
      margin-right: auto
    }
}

@media (min-width: 768px) {
    .cards__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
  }
  
  @media (min-width: 992px) {
    .cards__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  
    }
  }












