.steps__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f7bd00
}

.steps__img {
    height: 100%;
    width: auto;
    max-width: 100%;
    
}

.main__steps {
    margin: auto;
    background-image: url("../img/store/background-bees.jpg");
    object-fit: contain;
    }
.steps__heading {
    color: var(--h2-text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}
.steps__hunny-line {
    background-image: url(../img/steps/line_honey.webp);
    background-color: #f9f4f0;;
    background-size: cover;
    min-height: 300px
}
.steps__subheading {
    color: var(--h3-text-color);
    font-family: "Signika Negative", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}

.steps__line {
    height: 4px;
    width: 70px;
    background-color: #eb6d2f;
    margin: 20px;
}

.steps__decription {
    color: rgb(65, 57, 57);
    font-size: 18px;
    line-height: 28.8px;
}

.cards__section{
    margin: auto;
    padding: 60px 24px 60px 24px;
    text-align: center;
}

.cards__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards__container{
    border-radius: 15px;
    padding: 5px;
}

.button-request {
    color: white;
    background-color: var(--h2-text-color);
    padding: 10px 25px;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.button-request:hover{
    background-color: orange;
}

@media (min-width:320px) {
}

@media (min-width:768px) {

}

@media (min-width:992px) {

} 













