.main__store {
        background-image: url("../img/store/background-bees.jpg");
        background-size: cover;
        background-repeat: no-repeat;    
        padding: 55px 10% 80px;    
}

.store__container{
    max-width: 1200px;
    margin: auto;
}


.store__heading {
    color: var(--h2-text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}

.store__subheading {
    color: var(--h3-text-color);
    font-family: "Signika Negative", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;

}

.store__line {
    height: 4px;
    width: 50px;
    background-color: var(--h2-text-color);
    margin: 10px;
}

.store__description {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    margin:auto;
    padding: 15px;
    max-width: 800px;
    text-align: center;
}

.store__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store__products-carousel-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.carousel-product-thumb {
    object-fit: contain;
    max-width: 100%;
    justify-content: flex-start;
}

.carousel-product-name {
    color: var(--store-grey-text);
    font-size: 18px;
    text-align: center;
}

.carousel-product-price {
    color: var(--store-yellow-text);
    font-size: 20px;
    text-align: center;
}

.buy-product {
    color: var(--store-white-text);
    background-color: var(--h2-text-color);
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
    font-weight: bold;
    margin:auto;
    justify-content: flex-end;
}

.store__products .slick-initialized .slick-slide
{
    display: flex;
}

.buy-product:hover{
    background-color: var(--contacts-button-hover-background);
    color: var(--store-white-text);
}


@media (min-width: 768px) and (max-width: 1024px) {
    .main__store{
        padding: 105px 4% 55px;
    }
    .carousel-product-name {
        font-size: 20px;
    }
}

@media (min-width: 1025px) {
    /* .store__products-carousel{
        display:flex;
    } */

    .main__store{
        padding: 55px 10% 80px;
    }
    .carousel-product-name {
        font-size: 20px;
    }
}