.review {
    background-color: #5a3733;
    background-size: cover;
    padding: 90 24px;
    text-align: center;
}

.review_container {
    display: inline-block;
    flex-wrap: wrap;
    min-width: 270px;
    max-width: 800px;
}

.review__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.header__first-header {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(247, 189, 0);
    letter-spacing: 1.4px;
}

.header__second-header {
    font-family: "Signika Negative", sans-serif;
    font-size: 38px;
    color: white;
    margin-top: 30px;
}

.line__block {
    padding: 12px 0;
}

.lines {
    background-color: rgb(247, 189, 0);
    height: 4px;
    width: 33px;
}

.header__text {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 0 25px;
    line-height: 1.5;
}

.review__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    max-width: 1580px;
    margin: auto;
}

.container__review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(102, 59, 54);
    margin: 20px 20px;
    padding: 35px 30px;
    max-width: 400px;
}

.review__photo {
    width: 70px;
    height: 70px;
}

.review__name {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Signika Negative", sans-serif;
    color: #f7bd00;
    font-weight: 600;
}

.review__text {
    margin-top: 15px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 350;
    line-height: 27px;
}

.review__data {
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 1.4px;
}


@media (min-width: 320px){
    .review {
        padding: 90px 24px;
    }
    .lines {
        width: 33px;
    }
    .review__photo {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 768px) {
    .review {
        padding: 105px 32px;
    }
    .lines {
        width: 52px;
    }
    .review__photo {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 992px) {
    .review {
        padding: 120px 40px;
    }
    .lines {
        width: 77px;
    }
}