.video-poster {
    background-image: url("img/types/bg_types.webp");   
}

.poster-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.types-section {
    background: #f9f4f0;
}

.types-section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.types-section-content-about {
    margin: auto;  
}

.types-section-carusel {
    display: flex;
    margin: auto;
    flex-grow: 2;
}

.types-section-carusel-card {
    background: white;
    margin: auto;
    margin-top: 40px;
}

@media (min-width:322px) { 
    .types-section-carusel-card {
        margin-top: 5px;
    }
    .video-poster {
        height: 350px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }
    .need-hide {
        display: none;
    }
}

@media (min-width:768px) { 
    .types-section-carusel-card {
        margin-top: 20px;
    }
    .video-poster {
        height: 500px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }
    .need-hide {
        display: flex;
    }
}

@media (min-width:922px) { 
    .types-section-carusel-card {
        margin-top: 40px;
    }
    .video-poster {
        height: 650px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }
    .need-hide {
        display: flex;
    }
}

.honney-caption-collor {
    color: #eb6d2f;
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
    padding: 0;
}

.types-section-subheading {
    color: #5a3733;
    font-size: 38px;
    text-transform: uppercase;
    margin: auto;
}

.types-section-line {
    height: 4px;
    width: 6vw;
    min-width: 40px;
    color: #eb6d2f;
    margin: 20px auto;
}

.types-section-description {
    font-size: 18px;
    line-height: 160%;
    color: rgba(65, 57, 57, 1);
    list-style: none;
}

.check-icon {
    padding: 0 7px;
    border: 0;
    height: 18px;
}

.types-section-carusel-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--card-background-color);
    border-radius: 10px;
    padding: 2%;
}

.shop-now {
    color: white;
    cursor: pointer;
    background-color: #eb6d2f;
    text-decoration: none;
    padding: 10px 25px;
    border-width: 2px;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
    font-weight: bold;
    margin:auto;
    justify-content: flex-end;
}

.shop-now:hover{
    background-color: orange;
    color: white;
}