.video-poster {  
    background-image: url("../img/types/bg_types.webp");
}

.poster-caption {
    left: 0;
    bottom: 0;
    width: 100%;
}

.types-section-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    background: #f9f4f0;
}

.types-section-content-about {
    justify-content: center;

}
.types-section-carusel {
    min-width: 320px;
}
.types-section-carusel-item {
    display: flex;
}

.types-section-carusel-card {
    background: white; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    min-width: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
    margin: 20px;
}

.honney-caption-collor {
    color: #eb6d2f;
    text-transform: uppercase;
    margin: 20px  20px 20px 20px;
    font-weight: bold;
    line-height: 1;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .1em;
}

.types-section-line {
    height: 4px;
    width: 20%;
    box-sizing: border-box;
    background-color: #eb6d2f;
    margin: 0px 0px 0px 20px; 
}

.types-section-subheading {
    color: #5a3733;
    font-size: 38px;
    text-transform: uppercase;
    margin: auto;
}

.types-section-description {
    margin: 20px 0px 0px 20px; 
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 400; 
    list-style: none;
}

.types-section-description li {
    margin: 15px 0 15px -45px;
}

.check-icon {
    padding: 0 7px;
    border: 0;
    height: 18px;
}

.item-caption {
    min-width: 200px;
    max-width: 400px;
}

.carusel-card-item {
    display: block;
    width: 100px;
}

.shop-now {
    color: white;
    cursor: pointer;
    background-color: #eb6d2f;
    text-decoration: none;
    padding: 10px 25px;
    border-width: 2px;
    border-radius: 8px;
    border:0;
    text-transform: capitalize;
    font-weight: bold;
    margin:auto;
    justify-content: flex-end;
}

.shop-now:hover{
    background-color: orange;
    color: white;
}

@media (min-width:322px) { 
    .types-section-carusel-card {
        margin-top: 5px;
    }
    .video-poster {
        height: 350px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }
}

@media (min-width:768px) { 
    .types-section-carusel-card {
        margin-top: 20px;
    }
    .video-poster {
        height: 500px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }

    .types-section-content {
        flex-direction: row; 
    } 
}

@media (min-width:922px) { 
    .types-section-carusel-card {
        margin-top: 40px;
    }
    .video-poster {
        height: 650px;   
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        object-fit: cover;  
        object-position: 80% 50%;
    }

    .types-section-content {
        flex-direction: row; 
    } 
}