.slideshow-container {
  max-width: 100%;
  max-height: 350px;
  position: relative;
  margin: auto;
  background-image: url("../img/types/bg_types.webp");
  height: 350px;   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;  
  object-position: 80% 50%;
}

.mySlides {
  margin-top: 30px;
}

.mySlides iframe {
  left: 10%;
  margin: auto;
  align-items: center;
  max-width: 80%;
  position: relative;
}

@media (min-width:768px){
  .mySlides iframe {
    left: 0;
    margin: auto;
    align-items: center;
    max-width: 100%;
  }
}

@media (min-width:922px) { 
  .mySlides iframe {
    left: 0;
    margin: auto;
    align-items: center;
    max-width: 100%;
  }
}


.fade:not(.show) {
  opacity: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-container {
margin: auto;
  text-align:center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d1c6c2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #816662;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}