
.upper__theme {
    padding: 130px 0;
    background-color: #f9f4f0;
 }

 .upper{
    padding: 0 24px;
 }

 .upper__container {
    max-width: 1200px;
    margin: auto;
 }

.header__small {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(235, 109, 47);
}

.header__big {
    
    font-family: "Signika Negative", sans-serif;
    font-size: 50px;
    color: #5a3733;
}

.paragraph__text {
   
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #413939;
  
}

.mybutton {
    color: #fff;
    background-color: rgb(235, 109, 47);
    
    padding: 17px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    line-height: 156px;
}

.mybutton:hover{
    background-color: #f7bc02;
    transition: 0.5s;
}

@media (min-width:768px) {
    .upper__theme {
        padding: 190px 0;
     } 
     .upper__container {
    padding: 0 36px;
    }
}

@media (min-width:922px) {
    .upper__theme  {

        background-image: url(../img/header/beefon.jpg);
        background-size: cover;
        padding: 250px 0;
    }
    .upper__container {
        padding: 0 40px;
    }
    .upper {
       padding: 0++ 40px;
    }
}

